<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-info">
        <div class="container">
            @Html.ActionLink("FINKI Community", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @*<ul class="navbar-nav ml-auto">
                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
            </ul>*@
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    
                    @*<li class="nav-item">@Html.ActionLink("Groups", "Index", "Groups", null, new { @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Posts", "Index", "Posts", null, new { @class = "nav-link" })</li>*@
                    @if (User.IsInRole(FinkiCommunity.Models.RoleName.Admin))
                    {
                        <li class="nav-item">@Html.ActionLink("Groups", "Index", "Groups", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Posts", "Index", "Posts", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Study Programs", "Index", "StudyPrograms", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Users", "Index", "Users", null, new { @class = "nav-link" })</li>     
                    }
                    @Html.Partial("_LoginPartial")
                </ul>
                
            </div>
        </div>
        @*<div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("FINKI Community", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Groups", "Index", "Groups")</li>
                        <li>@Html.ActionLink("Posts", "Index", "Posts")</li>
                        @if (User.IsInRole(FinkiCommunity.Models.RoleName.Admin))
                        {
                            <li>@Html.ActionLink("Study Programs", "Index", "StudyPrograms")</li>
                            <li>@Html.ActionLink("Users", "Index", "Users")</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>*@
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer class="py-2 bg-info fixed-bottom">
        <div class="container text-center text-white">
            <p>Copyright &copy; FINKI Community 2020</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
