@model FinkiCommunity.Models.UserDetailModel

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div class="user-detail">
    <div>
        <img src="@Url.Content(Model.ProfilePictureUrl)" width="100px" height="100px" />
    </div>
    <div style=" height: 50px;">
        @Model.UserName
    </div>
    <div style="height: 50px;">
        @Model.FirstName
    </div>
    <div style="height: 50px;">
        @Model.LastName
    </div>
    <div style="height: 50px;">
        @Model.Email
    </div>
    <div style="height: 50px;">
        @Model.Gender
    </div>
    <div style="height: 50px;">
        @Model.Birthdate
    </div>
    <div>
        @Model.Role
    </div>
</div>

<div>
    @if (Model.IsHisHerProfile)
    {
        @Html.ActionLink("Edit", "Edit", "Users", new { id = Model.UserName }, null)
    }
</div>
