@model FinkiCommunity.Models.Group

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseDescription)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.StudyYear)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StudyYear)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Semester)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Semester)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Programs)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Programs)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourseType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseType)
            </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.NumberOfPosts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfPosts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfReplies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfReplies)
        </dd>*@
    </dl>

    <div id="pictureContainer" style="width:200px; height:200px; border: 1px solid black; box-sizing:content-box; padding: 5px">
        @if (Model.CoursePictureUrl != null)
        {
            <img src="@Url.Content(Model.CoursePictureUrl)" width="200" height="200" />
        }

    </div>
    <div id="uploadGroupImage">
        <div>
            @using (Html.BeginForm("UpdateGroupPicture", "Groups", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <input type="file" name="GroupPicture" class="form-control" />
                </div>
                @Html.HiddenFor(model => model.CourseCode)
                <button type="submit" class="btn btn-primary">Upload</button>
            }
        </div>
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
