@model IEnumerable<FinkiCommunity.Models.Group>

@{
    ViewBag.Title = "Index";
}

<h2>Groups</h2>

<p>
    @if (User.IsInRole(FinkiCommunity.Models.RoleName.Admin))
    {
        @Html.ActionLink("Create New Group", "Create")
    }

</p>
<table id="table" class="table">
    <thead>


        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudyYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPosts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfReplies)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.CourseCode)*@
                    @Html.ActionLink(item.CourseCode, "Details", new { id = item.CourseCode })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudyYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfPosts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfReplies)
                </td>
                <td>
                    @if (User.IsInRole(FinkiCommunity.Models.RoleName.Admin) || User.IsInRole(FinkiCommunity.Models.RoleName.Moderator))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.CourseCode })
                    }
                    @if (User.IsInRole(FinkiCommunity.Models.RoleName.Admin))
                    {
                        <span>|</span>
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.CourseCode })*@
                        <button data-group-id="@item.Id" class="btn btn-link js-delete">Delete</button>
                    }

                </td>
            </tr>
        }</tbody>
</table>


@section Scripts{
    <script>
        $(document).ready(function () {
            var table = $("#table");
            $(".js-delete").on("click", function () {
                var button = $(this);
                //console.log(button.attr("data-group-id"));
                
                $.ajax({
                    method: "DELETE",
                    url: "api/GroupsApi/" + button.attr("data-group-id"),
                    success: function () {
                        //table.row(button.parents("tr")).remove().draw();
                        // console.log(table);
                        button.closest("tr").remove();
                    }
                });
            });
        });
    </script>
}
