@model FinkiCommunity.Models.RegisterViewModel
@{
    /**/

    ViewBag.Title = "Register";
}
@*<h2>@ViewBag.Title.</h2>*@

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="row justify-content-center pb-5">
        <div class="col-md-6">
            <div class="card mt-4">
                <header class="card-header">
                    <h4 class="card-title mt-2 text-center">Register</h4>
                </header>
                <article class="card-body">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <form>
                        <div class="form-row">
                            <div class="col form-group">
                                @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                            </div> <!-- form-group end.// -->
                            <div class="col form-group">
                                @Html.LabelFor(m => m.LastName)
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                            </div> <!-- form-group end.// -->
                        </div> <!-- form-row end.// -->
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        </div> <!-- form-group end.// -->
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            <small class="form-text text-muted">
                                We'll never share your email with anyone
                                else.
                            </small>
                        </div> <!-- form-group end.// -->
                        <div class="form-group">
                            @* @Html.LabelFor(m => m.Gender, new { @class = "control-label" })*@
                            <label class="form-check form-check-inline">
                                <span class="pr-2">
                                    Male
                                </span>
                                @Html.RadioButtonFor(model => model.Gender, "M")
                            </label>
                            <label class="form-check form-check-inline">
                                <span class="pr-2">
                                    Female
                                </span>
                                @Html.RadioButtonFor(model => model.Gender, "F")
                            </label>
                        </div> <!-- form-group end.// -->

                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div> <!-- form-group end.// -->
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div> <!-- form-group end.// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Register </button>
                        </div> <!-- form-group// -->
                        <small class="text-muted">
                            By clicking the 'Sign Up' button, you confirm that you accept our
                            <br> Terms of use and Privacy Policy.
                        </small>
                    </form>
                </article> <!-- card-body end .// -->
                <div class="border-top card-body text-center">Have an account? @Html.ActionLink("Log In", "Login")</div>
            </div> <!-- card.// -->
        </div> <!-- col.//-->
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script>
            $(document).ready(function () {
                $("#Birthdate").datepicker({

                    dateFormat: "dd-mm-yy"

                });
            });
        </script>*@
}
