@model FinkiCommunity.Models.HomePageModel

@{
    ViewBag.Title = "Home Page";
}

<div style="display: flex; justify-content: space-between;">
    <div id="groups-container" style="width: 200px; margin-top: 50px; border: 2px solid red; padding: 10px; flex-grow: 1">
        @using (Html.BeginForm("SearchGroups", "Home", FormMethod.Get))
        {
            <div class="form-group">
                @Html.TextBox("groupTerm", null, new { @class = "form-control" })
                <button type="submit" class="form-control">Search</button>
            </div>  
        }
        <div>
            GROUPS:
        </div>
        @foreach (var homeGroup in Model.HomeGroups)
        {
            <div style="display: flex; border: 1px solid red; margin: 10px; padding: 10px;">
                <div style="margin-right: 5px">
                    <div style="width: 50px; height: 50px">
                        <a href=@("/Groups/Posts/" + @homeGroup.CourseCode)>
                            @if (homeGroup.CoursePictureUrl != null)
                            {
                                <img src="@Url.Content(homeGroup.CoursePictureUrl)" width="50" height="50" />
                            }
                        </a>
                    </div>
                </div>
                <div style="margin-bottom: 10px;">
                    <a href="@("/Groups/Posts/" + homeGroup.CourseCode)">
                        <div class="homeGroupName">
                            @homeGroup.CourseName
                        </div>
                        <div class="homeGroupDescription">
                            @homeGroup.CourseDescription
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
    
    <div id="posts-container" style="border: 1px solid black; width: 200px; margin-top: 50px; flex-grow: 10">
        @using (Html.BeginForm("SearchPosts", "Home", FormMethod.Get))
        {
        <div class="form-group">
            @Html.TextBox("postTerm", null, new { @class = "form-control" })
            <button type="submit" class="btn btn-default">Search</button>
        </div>
            
        }
        <div style="padding-left: 20px; padding-top: 20px">
            <b>LATEST POSTS:</b>
        </div>
        @foreach (var homePost in Model.HomePosts)
        {

            <div style="border: 1px solid green; margin: 20px; padding: 20px">
                <div class="belongsToGroup">
                    Group: @Html.ActionLink(homePost.Group.CourseName, "Posts", "Groups", new { id = homePost.Group.CourseCode }, null)
                </div>
                <div class="homePostTitle">
                    Title: @Html.ActionLink(homePost.Title, "Details", "Posts", new { id = homePost.Id }, null)
                </div>
                <div class="homeGroupName">
                    Content: @homePost.Content
                </div>
                <div class="homePostContent">
                    Created: @homePost.Created
                </div>
                <div>
                    <span class="likes"></span><button id=@("like" + homePost.Id)>@(homePost.NumberOfLikes + " Likes")</button>
                </div>
                <div>
                    <button>@Html.ActionLink(homePost.NumberOfReplies + " " + (homePost.NumberOfReplies == 1 ? "Reply" : "Replies"), "Details", "Posts", new { id = homePost.Id }, null)</button>
                </div>
                <div>
                    <div>
                        @if (homePost.UserOwner.ProfilePictureUrl != null)
                        {
                            <a href="@("/Users/Details/" + homePost.UserOwner.UserName)">
                                <img src="@Url.Content(homePost.UserOwner.ProfilePictureUrl)" width="50" height="50" />
                            </a>
                        }
                    </div>
                    <div>
                        Posted by: @Html.ActionLink(homePost.UserOwner.UserName, "Details", "Users", new { id = homePost.UserOwner.UserName }, null)
                    </div>
                    <div>
                        Rating: @homePost.UserOwner.Rating
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#like").on("click", function () {
                alert("button clicked");
            });
        });
    </script>    
}